
# dependencies
react-firebase-auth/node_modules
react-firebase-auth/.pnp
react-firebase-auth/.pnp.js

# testing
react-firebase-auth/coverage

# production
react-firebase-auth/build

# misc
react-firebase-auth/.DS_Store
react-firebase-auth/.env.local
react-firebase-auth/.env.development.local
react-firebase-auth/.env.test.local
react-firebase-auth/.env.production.local
react-firebase-auth/
react-firebase-auth/npm-debug.log*
react-firebase-auth/yarn-debug.log*
react-firebase-auth/yarn-error.log*
